<div class="h-screen">
    <div class="background">
        <div class="h-full filter-none w-full justify-center p-10 flex items-center">
            <div class="bg-slate-200 backdrop-contrast-125 h-full w-full md:w-3/4 drop-shadow-2xl p-5 cardNotFound">
                <div class="flex flex-col items-center justify-center h-full ">
                    <div>
                        <!-- <img class="imageLogo" src="../../../../../assets/logo.png" /> -->
                    </div>
                    <div class="flex flex-col items-center text-slate-900">
                        <p class="text-9xl notFound title">404</p>
                        <span class="text-3xl italic"> Page not found </span>
                    </div>

                    <div class="mt-5">
                        <p class="notFound text-xl">Intentemos otra ruta...</p>
                        <div class="flex gap-4 justify-center mt-2">
                            <!-- <button routerLink="/auth/login" class="it bg-slate-950 p-2 text-white rounded-md hover:bg-slate-800"> Ir a
                                Login </button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>