<div class="sidenav" [ngClass]="expanded? 'sidenav-expanded': ''">
    <div class="logo-container">
        <button class="logo" (click)="toggleexpanded()"><i class="pi pi-bars" style="font-size: 1.5rem"></i></button>
        <div class="logo-text" *ngIf="expanded">
            CookBook Hub
        </div>
        <button class="btn-close flex justify-center items-center" *ngIf="expanded" (click)="closeSidenav()">
            <i class="pi pi-arrow-circle-left" style="font-size: 1.2rem"></i>
        </button>

    </div>

    <div class="group-nav">
        <div class="group-name my-2" *ngIf="expanded">SEARCH SECTION</div>
        <ul class="sidenav-nav">
            <li class="sidenav-nav-item" *ngFor="let data of navDataMenu">
                <a class="sidenav-nav-link" [routerLink]="data.routerLink"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}"
                >
                    <i class="sidenav-link-icon" 
                    *ngIf="expanded" 
                    [class]="data.icon" ></i>

                    <i class="sidenav-link-icon" 
                    *ngIf="!expanded" 
                    matTooltipPosition="right"
                    [class]="data.icon" ></i>

                    <span class="sidenav-link-text" *ngIf="expanded">{{data.label}}</span>
                </a>

            </li>
        </ul>
    </div>

    <div class="group-nav">
        <div class="group-soporte" *ngIf="expanded">SOPORTE</div>
        <hr class="linea" *ngIf="!expanded">
        <ul class="sidenav-nav">
            <li class="sidenav-nav-item" *ngFor="let data of navDataSoporte">
                <a class="sidenav-nav-link" [routerLink]="data.routerLink"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}"
                >
                    <i class="sidenav-link-icon" 
                    *ngIf="expanded" 
                    [class]="data.icon" ></i>

                    <i class="sidenav-link-icon" 
                    *ngIf="!expanded" 
                    matTooltipPosition="right"
                    [class]="data.icon" ></i>
                    <span class="sidenav-link-text" *ngIf="expanded">{{data.label}}</span>
                </a>
            </li>
        </ul>
    </div>
    <hr class="linea" *ngIf="!expanded">
</div>