<div class="p-4 rounded-lg">
  <!-- <a href="">Return to Results</a> -->
  <div class="flex justify-center items-center mt-3 mb-6">
    <p class="text-2xl font-semibold font-serif">{{recipeInformation?.title}}</p>
  </div>
  <div class="mb-4">
    <p-chip class="mx-1" label=" "><i class="pi pi-user py-2.5 pr-2" style="color: blue"></i> {{recipeInformation?.servings}} servings</p-chip>
    <p-chip class="mx-1" label=" "><i class="pi pi-clock py-2.5 pr-2" style="color: blue"></i> {{recipeInformation?.readyInMinutes}} min</p-chip>
    <p-chip *ngIf="recipeInformation?.dairyFree" class="mx-1" label="Dairy Free"><i class="pi pi-check pr-2" style="color: blue"></i></p-chip>
    <p-chip *ngIf="recipeInformation?.cheap" class="mx-1" label="Cheap"><i class="pi pi-check pr-2" style="color: blue"></i></p-chip>
    <p-chip *ngIf="recipeInformation?.glutenFree" class="mx-1" label="Gluten Free"><i class="pi pi-check pr-2" style="color: blue"></i></p-chip>
    <p-chip *ngIf="recipeInformation?.lowFodmap" class="mx-1" label="Low FODMAP"><i class="pi pi-check pr-2" style="color: blue"></i></p-chip>
    <p-chip *ngIf="recipeInformation?.sustainable" class="mx-1" label="Sustainable"><i class="pi pi-check pr-2" style="color: blue"></i></p-chip>
    <p-chip *ngIf="recipeInformation?.vegan" class="mx-1" label="Vegan"><i class="pi pi-check pr-2" style="color: blue"></i></p-chip>
    <p-chip *ngIf="recipeInformation?.vegetarian" class="mx-1" label="Vegetarian"><i class="pi pi-check pr-2" style="color: blue"></i></p-chip>
    <p-chip *ngIf="recipeInformation?.veryHealthy" class="mx-1" label="Very Healthy"><i class="pi pi-check pr-2" style="color: blue"></i></p-chip>
    <p-chip *ngIf="recipeInformation?.veryPopular" class="mx-1" label="Very Pupular"><i class="pi pi-check pr-2" style="color: blue"></i></p-chip>
  </div>
  <div class="grid grid-cols-7 gap-4">
    <div class="col-span-3 flex items-center justify-center">
      <img class="rounded-lg border-2 border-slate-200" [src]=recipeInformation?.image alt="">
    </div>
    <div class="col-span-4 bg-gray-400 p-4 rounded-lg border-2 border-white">
      <p-tabView>
        <p-tabPanel header="Ingredients" class="bg-green-200">
          <ul>
            <li *ngFor="let ingredient of recipeInformation?.extendedIngredients">
              <i class="pi pi-plus" style="color: green"></i> {{ingredient.original}}
            </li>
          </ul>
        </p-tabPanel>
        <p-tabPanel header="Nutrition Facts">
            <p-table [value]="recipeInformation?.nutrition?.nutrients!" [scrollable]="true" scrollHeight="200px" [resizableColumns]="true" [tableStyle]="{ 'min-width': '5rem'}" styleClass="p-datatable-sm">
              <ng-template pTemplate="header">
                  <tr>
                      <th><p class="text-left">Name</p></th>
                      <th><p class="text-center">Amount</p></th>
                      <th><p class="text-center">Percent Of Daily Needs(%)</p></th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-nutrient>
                  <tr>
                      <td><p class="text-left">{{ nutrient.name }}</p></td>
                      <td><p class="text-center">{{ nutrient.amount }} {{ nutrient.unit }}</p></td>
                      <td><p class="text-center">{{ nutrient.percentOfDailyNeeds }}</p></td>
                  </tr>
              </ng-template>
            </p-table>
        </p-tabPanel>
      </p-tabView>
    </div>
  </div>

  <div class="mt-6 bg-slate-300 p-4 rounded-lg border-2 border-gray-400">
    <div class="flex items-center justify-center mb-2">
      <p class="text-lg font-semibold">Steps</p>
    </div>
    <ul>
      <li *ngFor="let step of recipeSteps?.steps">
        {{step.number}}. {{step.step}}
      </li>
    </ul>
  </div>
  <div class="pt-3">
    Source:
    <a [href]="recipeInformation?.sourceUrl" target="_blank" class="text-blue-500 hover:underline font-bold">
      {{recipeInformation?.sourceUrl}}
    </a>
  </div>
</div>
<div class="fixed bottom-4 right-4">
  <p-button label="Download" icon="pi pi-download" (click)="downloadPdf()"></p-button>
  <!-- <a href="https://spoonacular.com/recipeCardImages/recipeCard-1708402569754.png" download>
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
      Descargar
    </button>
  </a> -->
</div>

<div class="h-8"></div>
