.details-container{
    margin-bottom: 1rem !important;
}

img{
    transition: transform 0.3s ease-in-out;
}

img:hover{
    transform: scale(1.01);
}

:host() ::ng-deep .p-button{
    background: #0891b2;
    border: 1.5px solid white;
}