.montserrat{
    font-family: "Montserrat Alternates", sans-serif;
}

:host() ::ng-deep .p-button{
    width: 100%;
    font-family: "Montserrat Alternates", sans-serif;
}

img{
    transition: transform 0.3s ease-in-out;
}

img:hover{
    transform: scale(1.03);
}

.card{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

:host() ::ng-deep .p-button{
    background: #0891b2;
    border: 1.5px solid white;
}